<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Environment" value="prod" />
    <add key="PortName" value="" />
    <add key="Workspace" value="" />
    <add key="TestCaseRelativePath" value="devkit-sdk\AZ3166\tests\UnitTest\UnitTest.ino" />
    <add key="ExampleFolderPath" value="devkit-sdk\AZ3166\src\libraries" />
    <add key="SensorStatusPath" value="devkit-sdk\AZ3166\src\libraries\Sensors\examples\SensorStatus" />
    <add key="DevKitSourceRelativePath" value="devkit-sdk\AZ3166\src" />
    <add key="InstallPackageBlobUrl" value="C:\temp\devkit_install_{0}.zip" />
    <add key="ResultFolder" value="TestResult" />
    <add key="PackageName" value="AZ3166-{0}.zip" />
    <add key="SystemVersionFilePath" value="devkit-sdk\AZ3166\src\cores\arduino\system\SystemVersion.h" />
    <add key="TelemetryFilePath" value="IoTDevKitInstallation.Win\src\telemetry.js" />
    <add key="TaskInstallationScriptFilePath" value="IoTDevKitInstallation.Win\src\tasks\task-installation.js" />
    <add key="BoardManagerURL" value="C:\temp\package_mxchip_board_index.json" />
    <add key="PlatformTxT" value="devkit-sdk\AZ3166\src\platform.txt" />
  </appSettings>
</configuration>